header {
	width: 100%;
	background: #ebfdff;
	display: flex;
	flex-wrap: column;
}

.excusa_para_evitar_homicidio_no_culposo {
	text-align: center;
	font-weight: bold;
	font-size: 100px;
}

.contenedor_tabla {
	width: 100%;
	display: flex;
}

.contenedor_tabla table {
	border-collapse: collapse;
	width: 50%;
	margin: auto;
}

.contenedor_tabla table tr:nth-child(even) {
	background: rgb(200, 200, 200);
}

.contenedor_tabla table tr td{
	border: solid black 1px;
	text-align: center;
	padding: 15px;
}